body {

}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Open Sans', sans-serif !important;
}

/* Home Page */

.welcome-pic {
    border-radius: 15px;
    padding: 4px;
    opacity: 0.3;
}

.headline {
    margin-top: 40px;
}

.call-to-action{
    margin-top: 20px;
}

.btn.btn-primary {
    margin-top: 15px;
    color: #fff;
    background-color: #007a7c;
    border-color: #007a7c;
    padding: 15px;
}

.btn.btn-primary:hover {
    margin-top: 15px;
    color: #fff;
    background-color: #024f4f;
    border-color: #024f4f;
    padding: 15px;
}

.btn.btn-primary:active {
    margin-top: 15px;
    color: #fff;
    background-color: #024f4f;
    border-color: #024f4f;
    padding: 15px;
}

/* Event */ 
.event {
    margin-top: 40px;
}

.event-title a {
    color: #024f4f;
    font-weight: 800;
    font-size: 25px;
}

.btn.btn-light {
    background-color: #024f4f;
    border-color: #024f4f;
    color: #fff;
    font-weight: 400;
}

.btn.btn-light.btn-lg {
    
    margin-top: 50px;
    margin-bottom: 70px;
}

.btn.btn-light.btn-lg a {
    color: #fff;
}

/* Member's sign up */
.hi {
    font-weight: 700px;
    color: #024f4f;
    font-size: 30px;
    margin-bottom: 30px;
}

.form-control {
    border-width:0px;
    border:none;
}

.btn.btn-primary.join {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
}

/* Member's Gallery */

.member-pic {
    border-radius: 25px;
    margin-top: 40px;
    margin-left: 80px;
}

.member-pic-small {
    width: 128px;
    height: 128px;
}

.name {
    margin-top: 35px;
}

.attended {
    font-size: 12px;
}

.reason {
    margin-top: 10px;
}

.member-date {
    margin-bottom: 0px;
    font-size: 12px;
}

.til {
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.box{
    margin:0 10%;
    height: 800px;
    overflow: hidden;
    padding: 10px 0 40px 220px
}

.box ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    transition: all 0.5s linear;
    top:0
}

.box ul:last-of-type{top:0px}

.box ul:before{
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border:1px dashed #212529;
    position: absolute;
    top:0;
    left:30px
}

.box ul li{
    margin: 20px 60px 60px;
    position: relative;
    padding: 10px 20px;
    background:rgba(88,88,88, 0.1);
    color:#212529;
    border-radius: 10px;
    line-height: 20px;
    width: 70%
}


.box ul li > span{
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border:1px solid #212529;
    position: absolute;
    top:0;
    left:-30px
}

.box ul li > span:before,.box ul li > span:after{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background:#212529;
    border:2px solid #212529;
    position: absolute;
    left:-7.5px
}

.box ul li > span:before{top:-10px}
.box ul li > span:after{top:95%}

.box .title{
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px
}

.box .info:first-letter{line-height: 1.2}

.box .name{
    margin-top: 10px;
    text-transform: capitalize;
    font-style: italic;
    text-align: right;
    margin-right: 20px
}


.box .time span{
    position: absolute;
    left: -200px;
    color:#212529;
    font-size:80%;
    font-weight: bold;
}
.box .time span:first-child{top:-5px}
.box .time span:last-child{top:10%}



.members {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.member {
    cursor: pointer;
    border-radius: 12px;
    overflow: hidden;
    background: #eee;
}

.member:hover {
    background: #00A5E3;
    color: #ffffff;
}

.event-title {
    font-size: large;
    /*font-weight: bold;*/
}

.guest-list {
    color: #2e3436;
    font-style: italic;
    padding-bottom: 8px;
}

.guest-pic {
    width: 20px;
}

.badges {
    margin-bottom: 20px;
}

.badges img {
    width: 30px;
}

.fb-link {
    color: #ffffff;
}

.grid {
    text-align: center;
}

.grid-item {
    height: 300px;
}
